body,
html {
    width: 100%;
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #57c8da;
}

.header .left {
    flex: 1.5;
    color: white;
    font-size: 20px;

}

.header .left span {
    font-size: 30px;
    font-weight: 900;
}

.header .right {
    flex: 5;
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-family: "华文行楷";
    text-align: center;
}

.bottom {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    border: 1px solid #dce1e6;
    /* border: 2px solid red; */
}

.mx_left {
    width: 350px;
    border: 1px solid #dce1e6;
    max-width: 400px;
}

.mx_left .bar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgb(250, 249, 249);
    color: rgb(180, 175, 175);
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: 1px 1px 1px #dce1e6;
}

.mx_left .graphBar {
    width: 100%;
    margin-top: 15px;
    height: calc(60% - 15px);
    border-bottom: 3px solid #dce1e6;
    padding: 5px 20px;

}

.mx_left .graphBar img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.mx_left .toolBar {
    width: 100%;
    height: calc(50% - 15px);
    padding: 20px 20px;
}

.mx_left .toolBar .item {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #dce1e6;
    text-align: center;
}

.mx_left .toolBar img {
    width: 45px;
    height: 45px;
}

.mx_left .toolBar .item button {
    width: 60px;
    height: 20px;
    line-height: 20px;
    margin: 1.5px;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    color: #8c96a0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #dce1e6;
    box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
    background: -webkit-linear-gradient(top, #f2f3f7, #e4e8ec);
    background: -moz-linear-gradient(top, #f2f3f7, #e4e8ec);
    background: linear-gradient(top, #f2f3f7, #e4e8ec);
    cursor: pointer;
}


.mx_right {
    flex: 8;
    border: 1px solid #dce1e6;
}

.mx_right .graphArea {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgb(250, 249, 249);
    color: rgb(180, 175, 175);
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 2px;
    /* border: 1px solid #dce1e6; */
    box-shadow: 1px 1px 1px #dce1e6;
}

.mx_right .mxgraph {
    width: 100%;
    height: calc(100% - 30px);
}



img.mxToolbarMode {
    margin: 10px 10px !important;
}

img.mxToolbarModeSelected {
    margin: 10px 10px !important;
}

.notice{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    /* display: none; */
}

.notice_box{
    position: absolute;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -250px;
}

.class222{
    width: 100%;
    height: 500px;
}

.trop{
    width: 50px;
    height: 50px;
    /* background: white; */
    border: 1px solid white;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    cursor: pointer;
}

/* 
    轮播图css
*/
.box {
    width: 800px;
    height: 500px;
}
.inner{
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 4px solid white;
}
.inner img{
    width: 800px;
    height: 500px;
    vertical-align: top
}
ul {
    width: 100%;
    /*position: absolute;*/
    list-style: none;
    left:0;
    top: 0;
}
.inner li{
    float: left;

}

#arr{
    display: none;
}
#arr span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '黑体';
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    border: 1px solid #fff;
}
#arr #right {
    right: 5px;
    left: auto;
}