h1{
text-align: center;
    font-weight: 400;
    color: #3c3c3c;
}
.grre{

    color: green;
}
.red{
    color: red;
}
.bai{
    color:darkgrey;
}
.size{
    font-size: 16px;
}
div{
    text-align: center;
}
span{
    text-align: center;
}

.lan{
    color: blue;
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
}