/*公共样式*/
.wp {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.g-tit1 {
    height: 58px;
    line-height: 58px;
    border-top: 2px solid #0059d1;
    background: #eaedf1;
}

.g-tit1 .tit {
    font-size: 22px;
    color: #0059d1;
    overflow: hidden;
}

.g-tit1 .tit .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 11px;
    margin-left: 16px;
}

.g-tit1 .more {
    display: block;
    color: #5b718e;
    font-size: 14px;
    float: right;
    padding-right: 14px;
    transition: .3s;
}
.g-tit1 .more:hover{
    color: #0059d1;
}
/*<!--hd-top start-->*/
.hd-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #e4ecf3;
    overflow: hidden;
    z-index: 99;

}

.hd-top .info {
    float: left;
}

.hd-top .info a {
    display: inline-block;
    padding: 5px 0;
    margin: 8.5px 0;
    line-height: 1;
    color: #6b7d94;
    font-size: 12px;
    box-sizing: border-box;
}

.hd-top .info a::before {
    content: " ";
    display: inline-block;
    width: 2px;
    height: 12px;
    background: #6b7d94;
    margin: 0 9px;
    vertical-align: middle;
}

.hd-top .info a .icon {
    display: inline-block;
    width: 16px;
    height: 8px;
    background: url("../images/yb-13/link_03.png") no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
}

.hd-top .lg {
    float: right;
}

.hd-top .lg a {
    display: inline-block;
    padding: 5px 0;
    margin: 8.5px 0;
    line-height: 1;
    color: #6b7d94;
    font-size: 12px;
    box-sizing: border-box;
}

.hd-top .lg a .icon {
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url("../images/yb-13/botton_03.png") no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-left: 5px;
}

/*<!--hd-top end-->*/

/*<!--header start-->*/
.header {
    position: fixed;
    top: 40px;
    left: 0;
    height: 110px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    /*box-shadow: 0 3px 1px rgba(0, 0, 0, .3);*/
    overflow: hidden;
    box-sizing: border-box;
    z-index: 999;
}

.header .wp {
    overflow: hidden;
}

.logo {
    float: left;
}

.logo a {
    display: block;
    line-height: 110px;
}

.logo img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.hdr {
    height: 35px;
    width: 407px;
    float: right;
    padding-top: 37px;

}

.hdr .so {
    overflow: hidden;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    border-radius: 4px;
}

.hdr .so .inp .icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../images/yb-13/so_03.png") no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 2px;
}

.hdr .so .inp {
    line-height: 35px;
    overflow: hidden;
}

.hdr .so .inp form {
    width: 100%;
    height: 100%;
}

.hdr .so input {
    border: none;
    outline: none;
    line-height: 35px;
    color: #d5d5d5;
    font-size: 14px;
    overflow: hidden;
    box-sizing: border-box;
    width: 75%;
}

.hdr .so .btn {
    float: right;
    height: 100%;
}

.hdr .so .btn button {
    border: none;
    outline: none;
    height: 33px;
    width: 55px;
    background: none;
    font-size: 14px;
    color: #000;
    line-height: 33px;
    border-left: 1px solid #d2d2d2;
    text-align: center;
    margin-top: 1px;
}

.header .user {
    float: right;

    margin-left: 56px;
}

.header .user .links {
    color: #b1b1b1;
    font-size: 14px;
    line-height: 110px;
}

.header .user .links a {
    display: inline-block;

    color: #499731;
    font-size: 14px;
    line-height: 40px;
    margin: 35px 0;
}

.header .user .links a.on {
    color: #0059d1;
}

.header .user .links .icon {
    margin: 35px 0 35px 6px;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../images/yb-13/user_03.png");
    background-size: contain;
    vertical-align: middle;

}

@media only screen and (max-width: 1400px) {
    .hdr {
        margin-right: 20px;
        width: 400px;
    }

}

@media only screen and (max-width: 1250px) {
}


@media only screen and (max-width: 1090px) {

    .hdr {
        width: 350px;
        margin-right:0px;
    }

}

@media only screen and (max-width: 980px) {
    .header {
        height: 100px;
    }

    .logo a {
        line-height: 100px;
    }
    .header .user{
        margin-left: 20px;

    }
    .header .user .links{
        line-height:100px;
        overflow: hidden;
    }
    .header .user .links a{
        margin: 30px 0;
    }

}
@media only screen and (max-width: 920px) {
    .header {
        height: 120px;
        text-align: center;
    }
    .logo{
        text-align: center;
        margin: 5px 0;
        overflow: hidden;

    }
    .logo a img{
        height: 100%;
    }
    .hdr{
        padding-top:0;
        overflow: hidden;
        height: 40px;
        width:100%;
        text-align: center;
        margin:0 auto;
    }
    .hdr .so{
        width:80%;
        text-align: center;
        margin:0 auto;
    }
    .logo a{
        line-height:60px;
        height:60px;
    }
    .header .user{
        margin-top: 20px;
        overflow: hidden;
    }
    .header .user .links{
        line-height: 40px;
    }
    .header .user .links a{
        margin:0;
    }
    .header .user .links .icon{
        margin:0;

    }


}



@media only screen and (max-width: 555px) {
    .header .user{
        margin-left:0;
    }


}
@media only screen and (max-width: 480px) {

    .logo{
        width:100%;
        float: none;
    }
    .hdr{

        width:60%;
    }
    .hdr .so{
        width:100%;

    }
    .header .user{
        width:40%;
        margin-top:0;
    }
    .hdr .so input{
        font-size: 12px;

    }


}
@media only screen and (max-width: 438px) {
    .hdr{

        display: none;
    }
}
@media only screen and (max-width: 380px) {
    .hd-top .lg{
        display: none;
    }
}

/*<!--header end-->*/

/*nav*/
.nav {
    margin-top: 150px;
    width: 100%;
    background: #0059d1;

}

.nav li {
    position: relative;
    float: left;
    text-align: center;
}

.nav li .on {
    display: inline-block;
    padding: 12.5px 30px;
    font-size: 20px;
    color: #fff;
    transition: .3s;
}

.nav li .on.alect {
    background: #0045a2;
}

.nav li:hover {
    background: #0045a2;
}

.nav li .sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #0059d1;
    /*border-radius: 0 0 12px 12px;*/
    z-index: 999
}

.nav li .sub a {
    position: relative;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    border-bottom: 1px solid #0045a2;
    background: #0059d1;
}

.nav li .sub a:hover {
    background: #0045a2;
}

.menuBtn {
    display: none;
    position: fixed;
    top: 40px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s
}

.menuBtn b {
    display: block;
    height: 4px;
    background-color: #0d6fb8;
    margin: 4px 0;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s
}

.menuBtn.open b {
    display: none;
    margin: -5px 0 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px
}

.menuBtn.open b:first-child {
    display: block;
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg)
}

.menuBtn.open b:last-child {
    display: block;
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg)
}

@media only screen and (max-width: 1550px) {

}

@media only screen and (max-width: 1200px) {
     .wp {
        width: 100%;
         padding: 0 15px;
         box-sizing: border-box;
    }
}



@media only screen and (max-width: 989px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        display: none;
        z-index: 1000;
    }

    .nav li .on {
        position: relative;
        height: auto;
        padding: 10px 0;
        border: none;
    }

    .nav li {
        float: none;
        padding-top: 0;
        margin: 0;
        width: auto;
        background: #0059d1;
    }

    .nav li .sub {
        position: static;
        padding: 0;
        text-align: center;
        border-radius: 0;
        background-color: #eee
    }

    .nav li .sub a {
        line-height: 30px
    }

    .menuBtn {
        display: block
    }

    .nav {
        margin-top: 100px;
    }
    .menuBtn{
        top: 40px;
    }
}
@media only screen and (max-width: 920px) {
    .menuBtn{
        top: 116px;
    }
}
@media only screen and (max-width: 480px) {
    .menuBtn{
        top: 55px;
    }
}
/*nav end*/

/*<!--banner start-->*/
.banner {
    padding-top: 36px;
    background: #f6f7f9;
    padding-bottom: 51px;
}

.slider {
    position: relative;
}

.slider .items {
    text-align: center;
    display: block;
}

.slider .items img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.slider .items:focus {
    outline: none;
    border: none;
}

.slider .slick-arrow {
    position: absolute;
    width: 30px;
    height: 53px;
    top: 50%;
    border: 0;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    outline: none;
    transform: translateY(-50%);
}

.slider .slick-prev {
    left: 35px;
    background-image: url("../images/yb-13/prev.png")
}

.slider .slick-next {
    right: 35px;
    background-image: url("../images/yb-13/next.png")
}

.slider .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 27px;
    transform: translate(-50%, -10%);
    text-align: center;
    width: 140px;
}

.slider .slick-dots li {
    display: inline-block;
    position: relative;
    width: 20%;
}

.slider .slick-dots li button {
    border: none;
    outline: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #0059d1;
    font-size: 0;
    border-radius: 50%;

}

.slider .slick-dots li.slick-active button {
    background: #fff;

}
@media only screen and (max-width: 989px) {
    .banner{
        padding-top: 162px;
    }
}

/*<!--banner end-->*/

/*<!--main start-->*/
.main {
    background: #f6f7f9;
}

/*<!--row-a1 start-->*/
.row-a1 {
    height: 450px;
}

.row-a1 .col-l {
    width: 66.2%;
}

.m-imgtxt1 {
    padding-top: 30px;
}

.m-imgtxt1 .pic-txt-l {
    float: left;
    width: 35.5%;
    height: 269px;
    background: #fff;
}

.m-imgtxt1 .pic-txt-l .pic {

}

.m-imgtxt1 .pic-txt-l .pic img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.m-imgtxt1 .pic-txt-l .txt {
    overflow: hidden;
    padding: 15px 12px;
}
.m-imgtxt1 .pic-txt-l .txt a{
    display: block;
}
.m-imgtxt1 .pic-txt-l .txt .tit {
    color: #201f1f;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height:1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-weight:900;
    transition: .3s;
}
.m-imgtxt1 .pic-txt-l .txt .tit:hover{
    color: #0059d1;
}
.m-imgtxt1 .pic-txt-l .txt .date {
    color: #bebebe;
    font-size: 14px;
    line-height: 16px;
}

.m-imgtxt1 .pic-txt-l .txt .date .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/yb-13/time_03.png") no-repeat center;
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.m-imgtxt1 .pic-txt-r {
    overflow: hidden;
    padding-left: 27px;
}
.m-imgtxt1 .ul-pic-txt .con{
    display: block;
    margin-bottom: 15px;
}
.m-imgtxt1 .ul-pic-txt .con .pic{
    float: left;
    margin-right: 15px;

}
.m-imgtxt1 .ul-pic-txt .con .txt{
    overflow: hidden;
    display: block;
}
.m-imgtxt1 .ul-pic-txt .con a{
    display: block;
}
.m-imgtxt1 .ul-pic-txt .con .tit{
    color: #000;
    font-size: 16px;
    font-weight:bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    transition: .3s;
}
.m-imgtxt1 .ul-pic-txt .con .desc{
    font-size: 14px;
    color: #bdbdbd;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m-imgtxt1 .ul-pic-txt .con .tit:hover{
    color: #0059d1;
}

.row-a1 .col-r {
    float: none;
    padding-left: 16px;
    overflow: hidden;
}
.m-icons1{
    margin-bottom: 5px;
}
.m-icons1 .ul-icons1{
    overflow: hidden;
}
.m-icons1 .ul-icons1 li{
    width: 124px;
    height: 75px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #dcdcdc;
    background: #fff;
    border-radius: 8px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    transition: .3s;
}
.m-icons1 .ul-icons1 li:nth-child(3n){
    margin-right:0;
}
.m-icons1 .ul-icons1 li a{
    display: inline-block;
    color: #0059d1;
    font-size: 14px;
    padding: 22px 10px;
    line-height: 30px;
    text-align: left;
    transition: .3s;
}

.m-icons1 .ul-icons1 li a.t2{
    line-height:15px;
    padding: 22px 18px;
}
.m-icons1 .ul-icons1 li a .icon{
    display: inline-block;
    width:30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    float: left;
    transition: .3s;
}
.m-icons1 .ul-icons1 li:hover{
    background: #0059d1;
    border: 1px solid transparent;
}
.m-icons1 .ul-icons1 li:hover a{
    color: #fff;
}
.m-icons1 .ul-icons1 li:hover a .icon{
    filter: brightness(1000%);
}

.pr-b{
    overflow: hidden;
    background: #fff;
    height: 144px;
    box-sizing: border-box;
    border: 1px solid #edeeee;
    border-radius: 8px;
    padding-top: 15px;
}
.pr-b img{
    max-width: 100%;
    max-height: 100%;
}
.pr-b .desc{
    font-size: 14px;
    color: #3e3e3e;
}
.pr-b .pr1{
    float: left;
    width:50%;
    height: 113px;
    text-align: center;
}
.pr-b .pr2 {
    border-left: 1px solid #edeeee;
    overflow: hidden;
    height: 113px;
    text-align: center;
}

@media only screen and (max-width: 1350px) {
    .m-icons1 .ul-icons1 li{
        margin-right:6px;
        width: 115px;
    }
    .m-icons1 .ul-icons1 li a{
        padding: 15px 10px;
    }
    .row-a1 .col-r{
        padding-left: 10px;
    }
}
@media only screen and (max-width: 1250px) {
    .m-icons1 .ul-icons1 li{

        width: 110px;
    }

}

@media only screen and (max-width: 1250px) {
    .m-icons1 .ul-icons1 li{
        width:45%;
        margin:5px;
        overflow: hidden;
    }
    .m-icons1 .ul-icons1 li:nth-child(3n){
        margin-right: 5px;
    }
    .m-icons1 .ul-icons1 li a{
        padding: 20px;
        margin:0;
        width:100%;
        box-sizing: border-box;
    }
    .row-a1{
        height: 520px;
    }

}
@media only screen and (max-width: 1110px) {
    .m-icons1 .ul-icons1 li a{
        padding: 20px 0 20px 20px;
    }

}
@media only screen and (max-width: 1000px) {
    .m-icons1 .ul-icons1 li a{
        padding: 20px 0 20px 10px;
    }
    .m-icons1 .ul-icons1 li{
        margin: 3px;
    }
}
@media only screen and (max-width: 767px) {
    .row-a1 .col-l{
        width:100%;
        float: none;
    }
    .row-a1{
        height:100%;
        margin-bottom: 15px;
    }
    .row-a1 .col-r{
        padding-left:0;
    }
    .m-icons1 .ul-icons1 li{
        width:32%;
        text-align: center;
    }

}
@media only screen and (max-width: 666px) {
    .m-imgtxt1 .pic-txt-l{
        width:100%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

}
@media only screen and (max-width: 555px) {
    .row-a1 .col-l{
        width:100%;
        float: none;
    }
    .row-a1{
        height:100%;
        margin-bottom: 15px;
    }
    .row-a1 .col-r{
        padding-left:0;
    }
    .m-icons1 .ul-icons1 li{
        width:48%;
        text-align: center;
    }

}
@media only screen and (max-width: 555px) {
    .m-icons1 .ul-icons1 li{
        width:100%;
        text-align: center;
        margin: 5px auto;
    }

}
/*<!--row-a1 end-->*/
.m-adve{
    margin-bottom: 56px;
}
.m-adve a{
    display: block;
}
.m-adve a img{
    width: 100%;
    height:100%;
    min-width: 300px;


}


/*<!--row-a2 start-->*/
.row-a2 {
    height: 471px;
    margin-bottom: 34px;
}
.row-a2 .col-l{
    width:33.3%;
    box-sizing: border-box;

}
.row-a2 .col-l .g-tit1,
.row-a2 .col-l .m-pic-txt{
    margin-right: 16px;

}
.row-a2 .col-l:last-child .g-tit1,
.row-a2 .col-l:last-child .pic-txt{
    margin-right: 0;
}
.row-a2 .col-l:last-child{
    margin-right:0;
}
.m-pic-txt .ul-pic-txt{
    background: #fff;
}
.m-pic-txt .ul-pic-txt .con{
    display: block;
    padding: 22px 15px;
    margin-right:20px;
}
.m-pic-txt.ul-pic-txt li:last-child .con{
    margin-right:0;
}
.m-pic-txt .ul-pic-txt .con .pic{
    float: left;
    margin-right: 15px;

}
.m-pic-txt .ul-pic-txt .con .txt{
    overflow: hidden;
    display: block;
}
.m-pic-txt .ul-pic-txt .con .txt a{
    display: block;
}
.m-pic-txt .ul-pic-txt .con .txt a .tit{
    color: #000;
    font-size: 16px;
    font-weight:bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    transition: .3s;
}
.m-pic-txt .ul-pic-txt .txt a .tit:hover{
    color: #0059d1;
}
.m-pic-txt .ul-pic-txt .con .desc{
    font-size: 14px;
    color: #bdbdbd;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 989px) {
    .row-a2{
        height:100%;
    }
    .row-a2 .col-l{
        width:50%;
        margin-bottom: 10px;
    }
    .row-a2 .col-l:last-child .g-tit1, .row-a2 .col-l:last-child .pic-txt{
        margin-right: 15px;
    }
    .row-a2 .col-l .g-tit1, .row-a2 .col-l:last-child .m-pic-txt{
        margin-right: 15px;
    }


}
@media only screen and (max-width: 767px) {
    .row-a2 .col-l{
        width:100%;
        margin-bottom: 10px;
    }

}

/*<!--row-a2 end-->*/

/*<!--row-a3 start-->*/

.row-a3 {
    background: #fff;
}
.row-a3 .g-tit1{
    background: #fff;
}
.m-pics1 {
    padding-top: 50px;
    padding-bottom: 70px;
}

.m-pics1 .ul-pics {

}

.m-pics1 .ul-pics li {
    float: left;
}

.m-pics1 .ul-pics li a {
    display:inline-block;
    margin-left: 18.5px;
}
.m-pics1 .ul-pics li:last-child a{
    margin-left: 18px;
    margin-right: 18px;
}
.m-pics1 .ul-pics li a img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    text-align: left;
}

@media only screen and (max-width: 1220px) {
    .m-pics1 .ul-pics li {
        width:33.3%;
        text-align: center;
        margin-bottom: 10px;
    }
    .m-pics1 .ul-pics li a{
        margin-left:0;
    }
    .m-pics1 .ul-pics li:last-child a{
        margin-left:0;
        margin-right:0;
    }

}

@media only screen and (max-width: 767px) {
    .m-pics1 .ul-pics li {
        width: 50%;
    }

}

@media only screen and (max-width: 470px) {
    .m-pics1 .ul-pics li {
        width: 100%;
    }

}

/*<!--row-a3 end-->*/

/*<!--main end-->*/


/*<!--fd-row start-->*/
.fd-row{
    width:100%;
    background: #fff;
    height: 320px;
}
.m-logo1 {
    height: 157px;
    padding-top: 50px;
    padding-bottom: 70px;
    width: 39%;
    margin: 0 auto;
}

.m-logo1 .ul-logo1 {
    width:100%;
}

.m-logo1 .ul-logo1 li {
    float: left;
    width:20%;
}

.m-logo1 .ul-logo1 li a {
    display:inline-block;
    margin-left: 18.5px;
}
.m-logo1 .ul-logo1 li:last-child a{
    margin-left: 18px;
    margin-right: 18px;
}
.m-logo1 .ul-logo1 li a img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    text-align: left;
}

@media only screen and (max-width: 1400px) {
    .m-logo1{
        width:60%;
    }
}

@media only screen and (max-width: 1200px) {
    .m-logo1{
        width:80%;
    }
}

@media only screen and (max-width: 1200px) {
    .m-logo1{
        width:90%;
    }
}
@media only screen and (max-width: 767px) {
    .m-logo1 .ul-logo1 li {
        float: left;
        width:33.3%;
    }

}
@media only screen and (max-width: 589px) {
    .m-logo1 .ul-logo1 li {
        width: 50%;
    }
    .fd-row{
        height:100%;
    }
    .m-logo1{
        height: 100%;
        padding:0;
        margin-bottom: 10px;
    }

}

.fd-info .ul-info{
    overflow: hidden;
}
.fd-info .ul-info li{
    width:33.3%;
    float: left;
    padding-right: 50px;
    box-sizing: border-box;
}
.fd-info .ul-info li select {
    -webkit-appearance: none;
    width:100%;
    height: 35px;
    line-height: 35px;
    color: #c9c9c9;
    font-size: 14px;
    background: url("../images/yb-13/xia_10.png")no-repeat 95% #f4f5f8;
    background-size:4%;
    padding-left: 20px;
    border: none;
}
.fd-info .ul-info li select:focus{

    outline: none;
}
.fd-info .ul-info li:last-child {
    padding-right:0;
}

@media only screen and (max-width: 767px) {
    .fd-info .ul-info li{
        padding-right: 20px;
    }
    .wp{

    }

}

/*<!--fd-row end-->*/



/*<!--footer start-->*/
.footer{
    background:#474b53;
    padding-top: 70px;
}
.footer .fd-nav{
    float: left;
    width:60%;
}
.footer .fd-nav li{
    float: left;
    width: 14%;
}
.footer .fd-nav li .tit{
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
    font-weight:400;
}
.footer .fd-nav li a{
    display: block;
    color: #a5a5a5;
    font-size: 12px;
    margin-bottom: 5px;
    transition: .3s;
}
.footer .fd-nav li a:hover{
    color: #0059d1;
}
.footer  .fd-qr{
  overflow: hidden;
    padding-left: 100px;
}
.footer  .fd-qr .tit{
    font-size: 14px;
    color: #fff;
    font-weight:400;
}
.footer  .fd-qr .tit.t2{
    margin-top: 8px;
    margin-bottom: 5px;
}
.footer  .fd-qr .tit.t1{
    padding-left: 30px;
    margin-bottom: 18px;
}
.footer  .fd-qr img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.footer  .fd-qr .pr1{
    float: left;
    width:50%;
    padding-left: 30px;

}
.footer  .fd-qr  span{
    color: #a5a5a5;
    font-size: 12px;
    line-height:1.2;
    margin-top: 5px;
}
.footer  .fd-qr .pr2{
    padding-left: 10px;
    overflow: hidden;
}

.footer .fd-copy{
    width:100%;
    margin-top:100px;
    margin-bottom: 50px;
}
.footer .fd-copy p{
    color: #868686;
    font-size: 14px;

}
.footer .fd-copy span{
    color: #616161;
    font-size: 12px;
}


@media only screen and (max-width: 1200px) {
    .footer .fd-qr{
        padding-left:50px;
    }

}
@media only screen and (max-width: 1200px) {

    .footer .fd-nav{
        width:100%;
        float: none;
        text-align: center;
    }
}
@media only screen and (max-width: 670px) {
    .footer .fd-nav{
        display: none;
    }
    .footer .fd-qr{
        padding-left:0;
    }
}
/*<!--footer end-->*/



