/*<!--header Start-->*/
.g-more {
    display: block;
    font-size: 16px;
    color: #5d5d5d;
    float: right;
    margin-top: 2px;
    transition: .3s;
}

.g-more .icon {
    display: inline-block;
    width: 7px;
    height: 11px;
    background: url("../images/dl-5/icon-03-n_03.png") no-repeat center;
    background-size: contain;
}
.g-more:hover{
    color: #af090b;
}
.g-tit-h1 {
    text-align: center;
    padding: 20px 0 40px;
}

.g-tit-h1 h1 a {
    display: block;
    font-size: 36px;
    color: #af090b;
    line-height: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.g-tit-h1 .desc {
    font-size: 18px;
    color: #5d5d5d;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


@media only screen and (max-width: 989px) {
    .g-tit-h1 h1 a {
        font-size: 32px;
        color: #af090b;
        line-height: 60px;
    }

    .g-tit-h1 .desc {
        font-size: 16px;
        color: #5d5d5d;
    }
}

@media only screen and (max-width: 800px) {
    .g-tit-h1 h1 a {
        font-size: 28px;
        color: #af090b;
        line-height: 60px;
    }

    .g-tit-h1 .desc {
        font-size: 16px;
        color: #5d5d5d;
    }
}

.wp1 {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    position:absolute;
    top: 0;
    left: 0;
    height: 165px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    /*box-shadow: 0 3px 1px rgba(0, 0, 0, .3);*/
    overflow: hidden;
    box-sizing: border-box;
    z-index: 999;
}

.header .wp {
    overflow: hidden;
}

.logo {
    float: left;

}

.logo a {
    display: block;
    line-height: 165px;
}

.logo img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.hd-tit {
    float: left;

}

.hd-tit .tit {
    font-size: 30px;
    font-weight: bold;
    color: #af090b;
    line-height: 61px;
    padding-left: 25px;
    margin-left: 23px;
    height: 61px;
    border-left: 1px solid #dcdcdc;
    margin-top: 50px;
}

.hdr {
    height: 165px;
    width: 433px;
    line-height: 165px;
    float: right;
    background: url("../images/dl-5/hd-bg-top_02.png") no-repeat center;
    background-size: contain;
    margin-right: 92px;
}

@media only screen and (max-width: 1400px) {
    .hdr {
        margin-right: 20px;
        width: 400px;
    }

}

@media only screen and (max-width: 1250px) {
    .hdr {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .hdr {
        width: 300px;
    }

}

@media only screen and (max-width: 1090px) {
    .hd-tit .tit {
        font-size: 26px;
    }

    .hdr {
        width: 240px;
    }

}

@media only screen and (max-width: 980px) {
    .header {
        height: 100px;
    }

    .logo a {
        line-height: 100px;
    }

    .hd-tit .tit {
        line-height: 60px;
        margin-top: 20px;
    }

    .hd-tit .tit {
        font-size: 26px;
    }

    .hdr {
        display: none;
    }

    .hd-tit .tit {
        font-size: 34px;
    }

}

@media only screen and (max-width: 767px) {

    .hd-tit .tit {
        font-size: 26px;
    }


}

@media only screen and (max-width: 700px) {

    .header{
        height: 60px;
        position: fixed;
    }
    .hd-tit {
        display: none;
    }

    .logo {
        float: none;
        text-align: center;
        height: 60px;

    }
    .logo a{
        line-height: 60px;
    }
    .logo a img{
        height:40px;
        line-height: 40px;
        margin: auto;
    }
    .g-tit-h1{
        padding: 0 20px;
    }

}

/*header end*/
/*nav*/
.nav {
    margin-top: 165px;
    width: 100%;
    background: #af090b;
}

.nav li {
    position: relative;
    float: left;
    text-align: center;
    background: #af090b;
}

.nav li .on {
    display: inline-block;
    padding: 12.5px 44px;
    font-size: 20px;
    color: #fff;
    transition: .3s;
    border-right: 1px solid #cf6b6d;
}

.nav li:last-child .on {
    border-right: none;
}

.nav li:hover {
    background: #940507;
}

.nav li .sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #af090b;
    /*border-radius: 0 0 12px 12px;*/
    z-index: 999
}

.nav li .sub a {
    position: relative;
    display: block;
    font-size: 16px;
    padding: 10px 62px;
    color: #fff;
    border-bottom: 1px solid #cf6b6d;
    background: #af090b;
}

.nav li .sub a:hover {
    background: #940507;
}

.menuBtn {
    display: none;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s
}

.menuBtn b {
    display: block;
    height: 4px;
    background-color: #0d6fb8;
    margin: 4px 0;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s
}

.menuBtn.open b {
    display: none;
    margin: -5px 0 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px
}

.menuBtn.open b:first-child {
    display: block;
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg)
}

.menuBtn.open b:last-child {
    display: block;
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg)
}

@media only screen and (max-width: 1550px) {

    .nav li .on {
        padding: 12.5px 45px;
        font-size: 20px;
    }

    .nav li .sub a {
        font-size: 16px;
        padding: 12.5px 45px;

    }
}
@media only screen and (max-width: 1400px) {
    .main .wp{
        width:100%;

    }
}

@media only screen and (max-width: 1365px) {

    .nav li .on {
        padding: 12.5px 38px;
        font-size: 18px;
    }

    .nav li .sub a {
        font-size: 16px;
        padding: 12.5px 30px;

    }


}


@media only screen and (max-width: 1200px) {

    .nav li .on {
        padding: 15px 26px;
        font-size: 18px;
    }

    .nav li .sub a {
        font-size: 14px;
        padding: 15px 26px;
    }
}

@media only screen and (max-width: 989px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        display: none;
        z-index: 1000;
    }

    .nav li .on {
        position: relative;
        height: auto;
        padding: 10px 0;
        border: none;
    }

    .nav li {
        float: none;
        padding-top: 0;
        margin: 0;
        width: auto
    }

    .nav li .sub {
        position: static;
        padding: 0;
        text-align: center;
        border-radius: 0;
        background-color: #eee
    }

    .nav li .sub a {
        line-height: 30px
    }

    .menuBtn {
        display: block
    }

    .nav {
        margin-top: 100px;
    }

}

/*nav end*/

/*<!--main Start-->*/

.main {
    background: #f5f5f5;
    padding-bottom: 40px;

}

.main .wp {
    background: #fff;
}

/*<!--m-info Start-->*/
.m-info {
    background: #e7e7e7;
    height: 60px;
}
.m-info .info-l {
    float: left;
    line-height: 60px;
}

.m-info .info-l .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/dl-5/icon01_03.jpg") no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin: -3px 20px 0;
}

.m-info .info-l .txt {
    color: #363636;
    font-size: 14px;
}
.m-info .info-r {
    float: right;
    background: url("../images/dl-5/so-bg_03.jpg") no-repeat center;
    background-size: contain;
    width: 295px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.m-info .info-r .inp {
    width: 255px;
    float: left;
}

.m-info .info-r .inp input {
    border: none;
    outline: none;
    color: #acacac;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    background: none;
    padding-left: 10px;
}

.m-info .info-r .btn {
    overflow: hidden;
    height: 100%;
    text-align: center;
}

.m-info .info-r .btn button {
    border: none;
    outline: none;
    height: 100%;
    background: none;
}

.m-info .info-r .btn .icon {
    width: 20px;
    height: 18px;
    display: inline-block;
    background: url("../images/dl-5/so_03.png") no-repeat center;
    background-size: contain;
    vertical-align: middle;
}



@media only screen and (max-width: 989px) {
    .main {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .m-info {
        height: 85px;

    }

    .m-info .info-l {
        float: none;
        text-align: center;
        margin: 0 auto;
        line-height: 40px;
    }

    .m-info .info-r {
        float: none;
        margin: 0 auto;
        line-height: 40px;
        height: 40px;
    }

    .m-info .info-r {
        line-height: 40px;
    }

}

@media only screen and (max-width: 700px) {
    .main{
        margin-top: 60px;
    }
}
/*<!--m-info end-->*/


@media only screen and (max-width: 556px) {
    .wp {
        width: 98% !important;
    }

}

@media only screen and (max-width: 375px) {
    .wp {
        width: 100% !important;
    }

}

.m-imgtxt1 {
    margin-bottom: 30px;
    overflow: hidden;
    height: 420px;
}
.m-imgtxt1 .con-l {
    float: left;
    width: 800px;
}

.m-slick1 .items {
    position: relative;
    outline: none;
    border: none;
}

.m-imgtxt1 .m-slick1 .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    height: 50px;
    line-height: 50px;

}

.m-imgtxt1 .m-slick1 .txt .desc {
    color: #fff;
    font-size: 16px;
    padding-left: 22px;
}

.m-slick1 .slick-dots {
    position: absolute;
    right: 35px;
    bottom: 20px;
    overflow: hidden;
    width: 60px;
    text-align: center;

}

.m-slick1 .slick-dots li {
    float: left;
    width: 25%;
    text-align: center;
}

.m-slick1 .slick-dots li button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #fff;
    font-size: 0;
    padding: 0;
    margin: 0;

}

.m-slick1 .slick-dots li.slick-active button {
    background: #c20505;
}

.m-imgtxt1 .con-r {
    overflow: hidden;
    padding-left: 30px;
}

.m-imgtxt1 .con-r .txt-tit {
    height: 50px;
    line-height: 50px;
    background: #f5f5f5;
}

.m-imgtxt1 .con-r .txt-tit .tit {
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    width: 150px;
    text-align: center;
    background: #c20505;
    display: inline-block;

}

.m-imgtxt1 .con-r .ul-txt1 {
    margin-top: 23px;
}

.m-imgtxt1 .con-r .ul-txt1 li {
    margin-bottom: 25px;
}

.m-imgtxt1 .con-r .ul-txt1 li:last-child {
    margin-bottom: 0;
}

.m-imgtxt1 .con-r .ul-txt1 li a {
    display: block;
    height: 68px;
    transition: .3s;
}

.m-imgtxt1 .con-r .ul-txt1 li .date {
    float: left;
    width: 81px;
    height: 68px;
    text-align: center;
    background: url("../images/dl-5/pic-03-bg_03.jpg") no-repeat center;
    background-size: contain;
}

.m-imgtxt1 .con-r .ul-txt1 li .date .month {
    display: block;
    color: #5d5d5d;
    font-size: 14px;
    padding-top: 14px;
    line-height: 1;
}

.m-imgtxt1 .con-r .ul-txt1 li .date .day {
    display: block;
    color: #c20505;
    font-size: 30px;
    line-height: 1;

}

.m-imgtxt1 .con-r .ul-txt1 li .txt {
    overflow: hidden;
    padding-left: 25px;
}

.m-imgtxt1 .con-r .ul-txt1 li .tit {
    font-size: 18px;
    color: #5d5d5d;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    margin-bottom: 15px;
    transition: .2s;
}

.m-imgtxt1 .con-r .ul-txt1 li .desc {
    font-size: 14px;
    color: #7d7d7d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.m-imgtxt1 .con-r .ul-txt1 li a:hover .tit,*/
/*.m-imgtxt1 .con-r .ul-txt1 li a:hover .desc{*/
    /*color: #c20505;*/
/*}*/
.m-imgtxt1 .con-r .ul-txt1 li a .tit:hover
 {
    color: #c20505;
}
/*.m-imgtxt1 .con-r .ul-txt1 li a:hover .tit*/
/*{*/
    /*color: #c20505;*/
/*}*/
@media only screen and (max-width: 1280px) {
    .main .wp{
        width:100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 1280px) {
    .main .wp{
        width:100%;
        padding: 0;
        box-sizing: border-box;
    }
    .main .wp1{
        width:100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .m-imgtxt1 .con-r{
        padding-left: 20px;
    }
    .m-imgtxt1 .con-r .ul-txt1 li .txt{
        padding-left: 15px;
    }
}
@media only screen and (max-width: 1279px) {
    .m-imgtxt1 .con-l{
        width:700px;
        height:100%;
    }
}
@media only screen and (max-width: 1200px) {
    .m-imgtxt1 .con-l{
        width:550px;
    }
}
@media only screen and (max-width: 989px) {
    .m-imgtxt1{
        height:100%;
    }
    .m-imgtxt1 .con-l{
        float: none;
        width:100%;
        margin-bottom: 15px;
    }
    .m-imgtxt1 .con-r{
        width:100%;
        padding-left: 0;
    }
    .m-slick1 .items .pic img{
        width:100%;
        max-height: 100%;
    }
}
.m-news1 {
    margin-bottom: 30px;
}
.m-news1 .col-l {
    width: 50%;

}
.m-news1 .col-r {
    float: none;
    overflow: hidden;
    padding-left: 30px;
}

.m-ul-news1 {
    overflow: hidden;
    margin-top: 20px;
}

.m-ul-news1 li {
    float: none;
    height: 60px;
    margin-bottom: 27px;
}

.m-ul-news1 li:last-child {
    margin-bottom: 0;
}

.m-ul-news1 li .con {
    display: block;
    height: 60px;
    transition: .3s;
}
.m-tit2 {
    border-bottom: 1px solid #dcdcdc;
}

.m-tit2  .tit {
    color: #5d5d5d;
    font-size: 20px;
    padding-bottom: 8px;
}

.m-tit2::after {
    content: " ";
    display: block;
    width: 84px;
    height: 4px;
    background: #c20505;
}
.m-ul-news1 .con .date {
    float: left;
    width: 76px;
    height: 60px;
    text-align: center;
    background: url("../images/dl-5/pic-04-bg_03.jpg") no-repeat center;
    background-size: contain;
}

.m-ul-news1 .con .date .month-day {
    display: block;
    color: #c20505;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
}

.m-ul-news1 .con .date .year {
    display: block;
    color: #5d5d5d;
    font-size: 16px;
    line-height: 30px;

}

.m-ul-news1 li .con .txt {
    overflow: hidden;
    padding-left: 20px;
}

.m-ul-news1 li .con .txt .tit {
    font-size: 16px;
    color: #5d5d5d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .3s;
}

.m-ul-news1 li .con .txt .desc {
    font-size: 14px;
    color: #7d7d7d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .3s;
}
.m-ul-news1 li .con .tit:hover
 {
    color: #c20505;
}
@media only screen and (max-width: 989px) {
    .m-news1 .col-r{
        padding-left: 20px;
    }
}
@media only screen and (max-width: 850px) {
    .m-news1 .col-r{
        width:90%;
        padding-left: 0;
        margin: 0 auto 0;
    }
    .m-news1 .col-l{
        float: none;
        width:90%;
        margin: 0 auto 20px;
    }
}
.m-slcik2 {
    height: 250px;
    margin-bottom: 30px;
}

.m-slcik2 .tit-l {
    float: left;
    background: #c20505;
    height: 250px;
}

.m-slcik2 .tit-l .tit {
    font-size: 30px;
    width: 30px;
    color: #fff;
    padding: 59px 15px 0;
    line-height: 1.1;
}

.m-slcik2 .slcik2-r {
    overflow: hidden;
    text-align: center;
    padding: 0 46px;
    background: #f5f5f5;
    height: 250px;
    position: relative;
}
.m-slcik2 .slcik2-r .items{
    display: block;
    text-align: center;
    margin:0 40px;
}
.m-slcik2 .slcik2-r .items:focus{
    outline: none;
}
.m-slcik2 .slcik2-r .items .pic{
    margin-top: 23px;
    text-align: center;
}
.m-slcik2 .slcik2-r .items .pic img{
    max-width: 100%;
    display: block;
    margin: 0 auto;

}
.m-slcik2 .slcik2-r .items .txt{
    margin-top: 20px;
}
.m-slcik2 .slcik2-r .items .txt .desc{
    color: #464646;
    font-size: 14px;
    line-height:1;
}
.m-slcik2 .slick-arrow {
    position: absolute;
    width: 18px;
    height: 32px;
    top: 50%;
    border: 0;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    outline: none;
    transform: translateY(-50%);
}
.m-slcik2 .slick-prev {
    left: 2.5%;
    background-image:url("../images/dl-5/icon1_03.png")
}

.m-slcik2 .slick-next {
    right: 2.5%;
    background-image:url("../images/dl-5/icon1-n_03_03.png")
}
@media only screen and (max-width: 1190px) {
    .m-slcik2 .slcik2-r{
        padding: 0 50px;
    }
    .m-slcik2 .slick-prev {
        left: 1%

    }

    .m-slcik2 .slick-next {
        right: 1%;
    }
}
@media only screen and (max-width: 1140px) {
    .m-slcik2 .slcik2-r{
        padding: 0 30px;
    }
    .m-slcik2 .slick-prev {
        left: 1%

    }

    .m-slcik2 .slick-next {
        right: 1%;
    }


}
@media only screen and (max-width: 989px) {
    .m-slcik2 .slcik2-r .items{
        margin:0 20px;
    }
}
@media only screen and (max-width: 500px) {
    .m-slcik2 .slcik2-r{
        padding:  0 10px;
    }
}
@media only screen and (max-width: 450px) {
    .m-slcik2 .tit-l{
        display: none;
    }
}
.m-news2{
    margin-bottom: 30px;
}
.m-news2 .col-l,
.m-news2 .col-c,
.m-news2 .col-r{
    width:33.33%;
}
.m-news2 .col-c>.con,
.m-news2 .col-r>.con{
    margin-left: 40px;
}
.m-tit3{
    height: 24px;
    line-height: 24px;
    margin-bottom: 38px;
}
.m-tit3 .tit{
    color: #5d5d5d;
    font-size: 20px;
    line-height: 28px;

}
.m-tit3 .tit .icon{
    display: inline-block;
    width: 24px;
    height: 28px;
    background: url("../images/dl-5/icon-2_03.png")no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 15px;
}
.m-tit3 .tit .icon.c2{
    background: url("../images/dl-5/icon-3_03.png")no-repeat center;

}
.m-news2 .ul-txt2{
    margin-top: 25px;
}
.m-news2 .ul-txt2 li{

}
.m-news2 .ul-txt2 .con{
    display: block;
    height:40px;
    transition: .3s;
    overflow: hidden;
}
.m-news2 .ul-txt2 .con .desc{
    display: block;
    font-size: 16px;
    float: left;
    color: #5d5d5d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    line-height: 40px;
    transition: .3s;
}
.m-news2 .ul-txt2 .con .desc::before{
    content: " ";
    display: inline-block;
    background: #aeaeae;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    line-height:40px;
    margin-right: 20px;
    margin-left: 5px;
    transition: .3s;
}
.m-news2 .ul-txt2 .con .date{
    overflow: hidden;
    display: block;
    font-size: 16px;
    color: #b9b9b9;
    line-height:40px;
    transition: .3s;
    padding-right: 20px;
    float: right;
}
.m-news2 .ul-txt2 .con .icon{
    line-height:40px;
    float: right;
    padding-right: 20px;
}
.m-news2 .ul-txt2 .con .icon i{
    display: inline-block;
    width: 23px;
    height: 17px;
    background: url("../images/dl-5/dn_03.png")no-repeat center;
    background-size: contain;

}
.m-news2 .ul-txt2 .con:hover{
    background: #c20505;
}
.m-news2 .ul-txt2 .con:hover .desc,
.m-news2 .ul-txt2 .con:hover .date{
    color: #fff;
}
.m-news2 .ul-txt2 .con:hover .desc::before{
    opacity: 0;
}
.m-news2 .ul-txt2 .con:hover .icon i{
    filter: brightness(1000%);
}
@media only screen and (max-width: 989px) {

    .m-news2 .col-c>.con, .m-news2 .col-r>.con{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 970px) {
    .m-news2 .col-l, .m-news2 .col-c, .m-news2 .col-r{
        width:50%;
    }
    .m-news2 .col-l{
        margin-bottom: 10px;
    }
    .m-news2 .col-r{
        float: none;
    }
}
@media only screen and (max-width: 767px) {
    .m-news2 .col-l, .m-news2 .col-c, .m-news2 .col-r{
        width:90%;
        float: none;
        box-sizing: border-box;
    }
    .m-news2 .col-l,
    .m-news2 .col-c{
        margin-bottom: 10px;
    }
    .m-news2 .col-c>.con, .m-news2 .col-r>.con{
        margin-left:0;
    }

}

.m-slick3{
    position: relative;
}
.m-slick3 .items{
    text-align: center;
}
.m-slick3 .items img{
    margin: 0 auto;
}
.m-slick3 .items:focus{
    outline: none;
    border: none;
}

.m-slick3 .slick-arrow {
    position: absolute;
    width: 18px;
    height: 32px;
    top: 50%;
    border: 0;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    outline: none;
    transform: translateY(-50%);
}
.m-slick3 .slick-prev {
    left: -3%;
    background-image:url("../images/dl-5/icon-p_03.png")
}

.m-slick3 .slick-next {
    right: -3%;
    background-image:url("../images/dl-5/icon-n_03.png")
}
@media only screen and (max-width: 1380px) {
    .m-slick3 .slick-prev {
        left: -2%;
    }

    .m-slick3 .slick-next {
        right: -2%;

    }
}
@media only screen and (max-width: 1350px) {
    .m-slick3 .slick-prev {
        left: 0;
    }

    .m-slick3 .slick-next {
        right: 0;

    }
}
@media only screen and (max-width: 1200px) {
    .m-slick3 .slick-prev {
        left: -1%;
    }

    .m-slick3 .slick-next {
        right: -1%;

    }
}
@media only screen and (max-width: 989px) {
    .m-slick3 .slick-prev {
        left: -2%;
    }

    .m-slick3 .slick-next {
        right: -2%;

    }
}
.m-links1 .m-tit3{
    margin-top: 27px;
}
.m-links1 .ul-links1{
    overflow: hidden;
}
.m-links1 .ul-links1 li{
    float: left;
    padding: 5px 0 45px;
}
.m-links1 .ul-links1 li a{
    display:inline-block;
    color: #5d5d5d;
    font-size: 16px;
    padding: 0 23px;
    border-right: 2px solid #868686;
}
.m-links1 .ul-links1 li:last-child a{
    border-right: none;

}
.m-links1 .ul-links1 li a:hover{
    color: #fff;
    background: #c20505;
    border-right: 2px solid transparent;
}

.footer{
    width: 100%;
    height: 160px;
    background: url("../images/dl-5/ft-bg_02.jpg")no-repeat center;
    background-size: cover;
}
.footer .copy{
    text-align: center;
    padding-top: 45px;
}
.footer .copy p{
    color: #fff;
    font-size: 16px;
    line-height:1;
    padding: 10px 0;
}
@media only screen and (max-width: 1280px) {
    .m-links1 .ul-links1 li a{
        padding: 0 15px;
    }
}
@media only screen and (max-width: 1200px) {
    .m-links1 .ul-links1 li a{
        padding: 0 10px;
    }
}
@media only screen and (max-width: 1110px) {
    .m-links1 .ul-links1 li {
        width: 25%;
        padding: 10px 0;
    }
    .m-links1 .ul-links1 li a{
      border-right: none;
        padding: 10px 20px;
    }
    .m-links1 .ul-links1 li a:hover{
        color: #fff;
        background: #c20505;
        border-right: none;
    }
}
@media only screen and (max-width: 870px) {
    .m-links1 .ul-links1 li {
        width: 33.3%;
        margin-bottom: 10px ;
    }
    .m-links1 .ul-links1 li a{
        border-right: none;
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 870px) {
    .m-links1 .ul-links1 li {
        width: 50%;

    }
    .m-links1 .ul-links1 li a{
        border-right: none;
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 870px) {
    .m-links1 .ul-links1 li {
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        float: none;

    }
    .m-links1 .ul-links1 li a{
        border-right: none;
        padding: 10px 10px;
    }
}
/*<!--main end-->*/