* {
    box-sizing: border-box;
}
body {
    padding-top: 125px;
}
.wp {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}
.g-tit {
    text-align: center;
    position: relative;
}
.g-tit h2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 48px;
    color: #222;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.g-tit h2 span {
    color: #e77610;
}
.g-tit em {
    font-size: 160px;
    color: #f4f4f4;
    font-weight: bold;
}
/* header开始 */
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    height: 125px;
    padding: 0 47px;
    z-index: 101;
}
.logo {
    float: left;
    line-height: 125px;
    margin-right: 50px;
}
.logo img {
    vertical-align: middle;
}
.hdr {
    /*float: right;*/
    overflow: hidden;
}
.hdr .info {
    background: url(../images/images-xlx/h-bg.png) no-repeat right top;
    background-size: 763px 37px;
    height: 59px;
    color: #fff;
}
.if-l {
    float: right;
    padding-top: 7px;
}
.if-l span {
    position: relative;
    padding-right: 85px;
}
.if-l span::after {
    content: " ";
    position: absolute;
    top: 4px;
    right: 45px;
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #ec9d56;
}
.if-l .icon {
    display: inline-block;
    background: url(../images/images-xlx/h-icon1.png) no-repeat center;
    background-size: contain;
    margin-right: 12px;
    width: 17px;
    height: 14px;
}
.lang {
    float: right;
    width: 150px;
    display: inline-block;
    padding-top: 7px;
}
.lang a {
    color: #fff;
}
.lang .CN .icon1 {
    display: inline-block;
    background: url(../images/images-xlx/h-icon2.png) no-repeat center;
    background-size: contain;
    margin-right: 7px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.lang .CN .icon2 {
    display: inline-block;
    background: url(../images/images-xlx/h-icon3.png) no-repeat center;
    background-size: contain;
    margin-left: 8px;
    width: 10px;
    height: 6px;
    vertical-align: middle;
}

.nav {
    float: left;
}
.ul-nav li {
    position: relative;
    float: left;
}
.ul-nav .v1 {
    display: block;
    font-size: 18px;
    color: #333;
    line-height: 46px;
    text-align: center;
    padding: 0 10px 15px
}
.ul-nav .v1::before {
    content: " ";
    position: absolute;
    top: 16px;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #fae4cf;
}
.ul-nav .sub {
    width: 100px;
}
.ul-nav .on .v1::after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    background: #e77610;
}

.so {
    float: right;
    text-align: right;
    width: 297px;
    height: 43px;
    border: 1px solid #d6d6d6;
    font-size: 0;
    border-radius: 0 18px 0 18px;
    overflow: hidden;
}
.so form {
    height: 100%;
}
.so input {
    border: none;
    width: 204px;
    height: 100%;
    color: #a9a9a9;
    border-radius: 0 18px 0 0;
    padding-left: 20px;
    outline: none;
}
.so .btn {
    position: relative;
    width: 90px;
    border: none;
    height: 100%;
    color: #fff;
    background: #e77610;
    outline: none;
    /*border-radius: 0 18px 0 0;*/
}
.so .icon {
    display: inline-block;
    background: url(../images/images-xlx/h-icon4.png) no-repeat right center;
    background-size: contain;
    min-width: 16px;
    height: 16px;
    margin-left: 16px;
    /*vertical-align: middle;*/
}
.so .icon::before {
    content: " ";
    position: absolute;
    top: 14px;
    left: 50px;
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #f1b177;
}

.menuBtn{width:30px;cursor:pointer;position:fixed;right:10px;top:6%;z-index:9;padding-top:4px;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);display:none}
.menuBtn b{display:block;height:3px;background-color:#e77610;margin-bottom:5px;border-radius:2px;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.menuBtn.open b{display:none;margin:0;position:absolute;left:0;top:50%;width:30px}
.menuBtn.open b:first-child{display:block;transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg)}
.menuBtn.open b:last-child{display:block;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg)}
@media only screen and (max-width:1199px) {

    .header .nav{
        display: none;
        position: fixed;
        background: #fff;
        top:110px;
        left: 0;
        width: 100%;
        margin-left: 0;
        z-index: 99;
    }
    .header .hdr {
        display: none;
    }

    .header .menuBtn{
        display: block;
    }

    .ul-nav {
        width: 100%;
    }
    .ul-nav li {
        float: none;
        width: 100%;
        text-align: center;
    }

    .ul-nav .sub {
        position: static;
        width: 100%;
    }
    .ul-nav .sub a {
        width: 100%;
    }
}
/* header结束 */

/* ban开始 */
.ban {
    padding-top: 33%;
    background: url(../images/images-xlx/ban.jpg) no-repeat center;
    background-size: cover;
    min-height: 300px;
}
/* ban结束 */
/* g-tab开始 */
.m-tab {
    background: #f4f8f9;
    margin-bottom: 45px;
}
.ul-tab {
    overflow: hidden;
    border-left: 1px solid #e8e9e9;
}
.ul-tab li {
    float: left;
    width: 227px;
    border-right: 1px solid #e8e9e9;
}
.ul-tab li a {
    display: block;
    line-height: 92px;
    text-align: center;
    font-size: 20px;
    color: #020202;
    transition: .3s;
}
.ul-tab li:hover a,
.ul-tab li.on a {
    background-color: #e77610;
    color: #fff;
}
/* g-tab结束 */
/* main开始 */
.ul-list1 {
    overflow: hidden;
}
.ul-list1 li {
    padding: 25px 0;
    border-bottom: 1px solid #d9d9d9;
}
.ul-list1 .con {
    display: block;
    overflow: hidden;
}
.ul-list1 .pic {
    float: left;
    width: 264px;
    height: 235px;
    margin-right: 100px;
}
.ul-list1 .pic img {
    display: block;
    width: 100%;
    height: 100%;
}
.ul-list1 .txt {
    position: relative;
    overflow: hidden;
    padding: 60px 90px 60px 0;
}
.ul-list1 .date {
    float: left;
    text-align: center;
    font-size: 16px;
    color: #999;
    margin-right: 50px;
}
.ul-list1 .date em {
    display: block;
    font-size: 60px;
    color: #57575a;
    line-height: 1;
    border-bottom: 1px solid #ddddde;
    padding-bottom: 10px;
    margin-bottom: 8px;
}
.ul-list1 .tit {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    transition: .3s;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ul-list1 .desc {
    line-height: 24px;
    color: #7a7a7a;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.ul-list1 .btn {
    position: absolute;
    right: 0;
    top: 90px;
    width: 54px;
    height: 54px;
    border: 1px solid #e77610;
    background: url(../images/images-xlx/m-icon1.png) no-repeat center;
    transition: .3s;
}
.ul-list1 .con:hover .tit {
    color: #e77610;
}
.ul-list1 .con:hover .btn {
    background: url(../images/images-xlx/m-icon2.png) no-repeat center #e77610;
}

.pages {
    text-align: center;
    padding: 45px 0;
}
.ul-pages {
    display: inline-block;
    overflow: hidden;
}
.ul-pages li {
    float: left;
    margin: 0 2px;
}
.ul-pages .prev a {
     background: url(../images/images-xlx/p-icon-l.png) no-repeat center;
}
.ul-pages .next a {
    background: url(../images/images-xlx/p-icon-r.png) no-repeat center;
}
.ul-pages li a {
    display: block;
    font-size: 19px;
    color: #a9a9a9;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.pages li.on a,
.pages li:hover a {
    background-color: #e77610;
    color: #fff;
}

/* main结束 */

.footer {
    background: #252629;
    overflow: hidden;
    padding: 56px 0 0;
}
.footer .col-l {
    width: 26%;
}
.f-logo {
    margin-bottom: 25px;
}
.ul-link {
    overflow: hidden;
}
.ul-link li {
    float: left;
    width: 30%;
}
.ul-link li a {
    width: 105px;
    color: #87888a;
    line-height: 35px;
    display: block;
    border-bottom: 1px solid #3b3c3f;
}
.ul-link li a:hover {
    color: #fff;
}
.footer .col-c {
    width: 40%;
    padding-left: 9.2%;
    position: relative;
}
.footer .col-c:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 159px;
    background: #3b3c3f;
}
.footer .col-c:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 159px;
    background: #3b3c3f;
}

.f-contact {
    font-size: 14px;
    color: #87888a;
    line-height: 24px;
    padding-bottom: 14px;
    padding-top: 8px;
}
.f-contact .tel {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
}
.f-contact p:first-child {
    text-align: center;
}
.f-contact .f-icon2,
.f-contact .f-icon3 {
    display: inline-block;
    width: 14px;
    height: 16px;
    vertical-align: middle;
    background: url(../images/images-xlx/f-icon2.png) no-repeat center;
}
.f-contact .f-icon3 {
    background: url(../images/images-xlx/f-icon3.png) no-repeat center;
}
.f-share a {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    vertical-align: middle;
    margin-right: 10px;
}
.f-share .wb {
    background: url(../images/images-xlx/f-icon4.png) no-repeat center #3b3c3f;
}
.f-share .qq {
    background: url(../images/images-xlx/f-icon5.png) no-repeat center #3b3c3f;
}
.f-share .wx {
    background: url(../images/images-xlx/f-icon6.png) no-repeat center #3b3c3f;
}

.col-r {
    width: 23%;
    overflow: hidden;
}
.f-qr {
    float: right;
    overflow: hidden;
    margin-bottom: 19px;
    padding-top: 4px;
}
.f-qr .pic {
    float: left;
    width: 87px;
    margin-left: 29px;
    font-size: 14px;
    color: #87888a;
    line-height: 24px;
    text-align: center;
}
.f-qr .pic img {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.f-so {
    float: right;
    width: 323px;
    position: relative;
}
.f-so .int {
    width: 100%;
    height: 38px;
    padding: 0 65px 0 27px;
    background: #3b3c3f;
    border: none;
    font-size: 14px;
    color: #fff;
    line-height: 38px;
}
.f-so .sub {
    display: block;
    width: 65px;
    height: 38px;
    background: url(../images/images-xlx/h-icon4.png) center center no-repeat #e77611;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.footer .copy {
    padding: 12px 0;
    text-align: center;
    margin-top: 35px;
    border-top: 1px solid #3b3c3f;
}
.copy span {
    font-size: 13px;
    color: #69696b;
    line-height: 23px;
    text-align: center;
}

.m-sid {
    z-index: 999;
    position: fixed;
    top: 125px;
    right: 0;
}
.m-sid .ul-sid {
    float: right;
}
.m-sid .tel{
    width: 50px;
    height: 47px;
    background-color: #e77610;
    margin-bottom: 2px;
    text-align: center;
    color: #fff;
    border-radius: 10px 0 0 10px;
    line-height: 47px;
}
.m-sid .tel:hover{
    width: 210px;
}
.m-sid .tel:hover .tel-num{
    display: inline-block;
}
.m-sid .tel img{
    vertical-align: middle;
}
.tel-num{
    display: none;
    font-weight: 700;
    line-height: 40px;
    margin-left: 20px;
}
.ul-sid li .con {
    display: block;
    background: #7f7f7f;
    width: 50px;
    height: 47px;
    margin-bottom: 2px;
    text-align: center;
    line-height: 47px;
    border-radius: 10px 0 0 10px;
}
.ul-sid li .con img {
    vertical-align: middle;
}

@media only screen and (max-width:1800px) {
    .so {
        display: none;
    }
}
@media only screen and (max-width:1530px) {
    .nav {
        display: none;
    }
}
@media only screen and (max-width:1199px) {
    .footer .col-c {
        display: none;
    }
    .footer .col-l,
    .footer .col-r {
        width: 50%;
    }
}
@media only screen and (max-width:767px) {
    .header {
        height: 80px;
    }
    .logo {
        float: left;
        line-height: 80px;
        margin-right: 50px;
    }
    .logo img {
        height: 30px;
    }

    .ul-tab li {
        float: none;
        width: 100%;
        text-align: center;
    }
    .ul-tab li a {
        line-height: 50px;
    }
    .ul-list1 .pic {
        float: none;
        margin: 0 auto;
    }
    .footer .col-l {
        margin-bottom: 20px;
    }
    .footer .col-l,
    .footer .col-r {
        float: none;
        width: auto;
    }
    .f-qr,
    .f-so {
        float: none;
    }
}
@media only screen and (max-width: 1920px) {
    .g-tit h2 {
        font-size: 2.5vw;
    }
    .g-tit em {
        font-size: 8.3333vw;
    }
}
@media only screen and (max-width: 769px) {
    .g-tit h2 {
        font-size: 20px;
    }
    .g-tit em {
        font-size: 50px;
    }
}

